In [1]:
import pyodbc 
import pandas as pd
import numpy as np
import datetime
from functools import reduce
import matplotlib.pyplot as plt
from scipy import stats

from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import calinski_harabaz_score, silhouette_score
from sklearn.decomposition import PCA

import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-CU20T8L1;"
                      "Database=CAMPAIGN_DB2;"
                      "Trusted_Connection=yes;")


cursor = cnxn.cursor()

In [3]:
# cursor.execute('SELECT TOP(1000)* FROM CAMPAIGN_TBL_FINAL')

# for row in cursor:
#      print('row = %r' % (row,))

In [56]:
sql = pd.read_sql_query('SELECT TOP(500000) * FROM CAMPAIGN_TBL_FINAL',cnxn)

In [57]:
df = pd.DataFrame(sql)

In [58]:
# df.info()

In [59]:
# df.describe()

In [60]:
df.columns

Index(['bet_year', 'bet_month', 'Bet Time', 'Result Time', 'Ticket ID',
       'Game ID', 'Provider', 'Product Type', 'Game Group', 'Game', 'Upline',
       'Player ID', 'Currency', 'Stake', 'Valid Bet', 'Win/Loss', 'Tip',
       'JP Bet', 'JP Win', 'Result Status', 'Real Name', 'Registered Date',
       'Last Login', 't2_status', 'register_year', 'register_month',
       'l_login_year', 'l_login_month', 'GROUP'],
      dtype='object')

In [61]:
df['Bet Time'] = pd.to_datetime(df['Bet Time'])
df['Result Time'] = pd.to_datetime(df['Result Time'])
df['Registered Date'] = pd.to_datetime(df['Registered Date'])
df['Last Login'] = pd.to_datetime(df['Last Login'])

In [62]:
df.head()

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,...,Result Status,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,...,Settled,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...

In [63]:
# df['date'] = pd.to_datetime(df['date'])

In [64]:
# df['Product Type'].unique()

In [65]:
# df['GROUP'].unique() #both are same

In [66]:
# df['t2_status'].unique()

In [67]:
# df['Result Status'].unique()

In [68]:
# df['Provider'].unique()

In [69]:
# df['Game Group'].unique()

In [71]:
player.head()

                    Stake                                          Valid Bet  \
              total_stake mean_stake(total_stake/total bets) total_Valid Bet
Player ID
02981pleeng      47341.00                           7.572137        47341.00
0641976840        4525.29                           1.578406         4525.29
0917292371a       4495.00                         195.434783         4385.00
1100500298961     2061.41                           1.443564         2061.41
1123nan             33.00                          33.000000           33.00

                                                                Win/Loss  \
              mean_Valid Bet total_valid bets/total bets) total_WIn/Loss
Player ID
02981pleeng                                      7.572137        2268.70
0641976840                                       1.578406          71.21
0917292371a                                    190.652174       -3704.50
1100500298961                                    1.443564         -99.98
1123nan                                         33.000000         -33.00


              mean_Valid Bet total_Win/Loss/total bets)
Player ID
02981pleeng                                    0.362876
0641976840                                     0.024838
0917292371a                                 -161.065217
1100500298961                                 -0.070014
1123nan                                      -33.000000

In [72]:
df['Transaction Date'] = df['Bet Time'].dt.date

In [73]:
df.head()

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,...,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP,Transaction Date
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,...,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...,2020-03-04

Dragon's Luck                   60971
Lucky Twins                     42197
Disco Night M                   31569
Eagle's Wings                   28557
Funky Monkey                    14527
Fortune House                   13905
Lara Croft Temples and Tombs    13483
The Twisted Circus              12606
Golden Lotus                    10604
Baccarat                         9382
Name: Game, dtype: int64

In [77]:
df['days_since_last_login'] = (df['Last Login'].max() - df['Last Login']).astype('timedelta64[D]')
df['Age_on_platform'] = (df['Last Login']- df['Registered Date']).astype('timedelta64[D]')
#time spent playing

In [78]:
df['days_since_last_login'].head()
df['Age_on_platform'].head()

0    187.0
1    187.0
2    187.0
3    187.0
4    442.0
Name: Age_on_platform, dtype: float64

In [79]:
# df[df['Player ID']=='02981pleeng']['Bet Time'].max() #confirming to last bet time

In [80]:
##feature enginerring creating players based data

In [81]:
def otherise(df_col, n, lst_top_n=None):
        """Otherise dataframe columns if it contains too many values

        Arguments:
            df_col {series} -- dataframe column
            n {int} -- number of maximum values

        Returns:
            series -- dataframe column with reduced values
        """
        if lst_top_n:
            top_n = lst_top_n
        else:
            z = pd.DataFrame(df_col).copy()
            z['val'] = 1
            z.columns = ['key', 'val']
            top_n = z.groupby('key').size().sort_values(ascending=False)[:n]
            top_n = pd.DataFrame(top_n).reset_index()
            top_n = list(top_n.key.values)
        df_col = df_col.apply(lambda y: y if y in top_n else np.NaN)
        
        return df_col

In [82]:
##date based features

In [83]:
last_betting_date = df.groupby(['Player ID'])['Bet Time'].agg(['max']).reset_index().rename(columns={"max":"Last Betting Date"})

In [84]:
avg_no_of_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Day"}) #sum/count
#number of bets per day by a particular player

In [85]:
df.columns

Index(['bet_year', 'bet_month', 'Bet Time', 'Result Time', 'Ticket ID',
       'Game ID', 'Provider', 'Product Type', 'Game Group', 'Game', 'Upline',
       'Player ID', 'Currency', 'Stake', 'Valid Bet', 'Win/Loss', 'Tip',
       'JP Bet', 'JP Win', 'Result Status', 'Real Name', 'Registered Date',
       'Last Login', 't2_status', 'register_year', 'register_month',
       'l_login_year', 'l_login_month', 'GROUP', 'Transaction Date',
       'days_since_last_login', 'Age_on_platform'],
      dtype='object')

In [112]:
time_df = pd.DataFrame()
temp_df = df[['Player ID','days_since_last_login','Age_on_platform','Bet Time', 'Result Time','Registered Date',
       'Last Login']].groupby('Player ID').agg(['max']).reset_index()

In [170]:
#temp_df

In [114]:
dataframes = [last_betting_date,avg_no_of_bets_per_day,temp_df]

In [115]:
time_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

In [116]:
time_df.head()

,Player ID,Last Betting Date,Avg Bets per Day,"(days_since_last_login, max)","(Age_on_platform, max)","(Bet Time, max)","(Result Time, max)","(Registered Date, max)","(Last Login, max)"
0,02981pleeng,2020-02-06 18:11:18,1563.000000,0.0,296.0,2020-02-06 18:11:18,2020-02-06 18:11:18,2019-08-03 21:58:36,2020-05-26 15:04:22
1,0641976840,2020-02-05 00:28:11,955.666667,0.0,366.0,2020-02-05 00:28:11,2020-02-05 00:28:11,2019-05-25 02:40:29,2020-05-25 22:49:52
2,0917292371a,2020-02-02 19:55:47,11.500000,0.0,282.0,2020-02-02 19:55:47,2020-02-02 19:55:47,2019-08-17 15:41:59,2020-05-26 14:40:26
3,1100500298961,2020-02-02 19:53:15,1428.000000,39.0,529.0,2020-02-02 19:53:15,2020-02-02 19:53:15,2018-11-04 02:17:48,2020-04-16 21:56:49
4,1123nan,2020-02-05 19:29:09,1.000000,31.0,155.0,2020-02-05 19:29:09,2020-02-05 19:29:09,2019-11-21 14:19:41,2020-04-25 13:08:54

In [ ]:
# features based on payment ie betting amount

In [136]:
df.columns

Index(['bet_year', 'bet_month', 'Bet Time', 'Result Time', 'Ticket ID',
       'Game ID', 'Provider', 'Product Type', 'Game Group', 'Game', 'Upline',
       'Player ID', 'Currency', 'Stake', 'Valid Bet', 'Win/Loss', 'Tip',
       'JP Bet', 'JP Win', 'Result Status', 'Real Name', 'Registered Date',
       'Last Login', 't2_status', 'register_year', 'register_month',
       'l_login_year', 'l_login_month', 'GROUP', 'Transaction Date',
       'days_since_last_login', 'Age_on_platform'],
      dtype='object')

In [157]:
# #per player there would be different transaction days 
# aggregations_betting = {
#     'Stake': {
#         'max_bet_amount' : 'max',
#         'min_bet_amount' : 'min',
#         'ave_bet_amount' : 'mean',
#         'total_bet_amount' : 'sum',
#         'total_bet_placed' : 'count'
#     }  
#     } 

# bet_df = df.groupby(['Player ID','Transaction Date']).agg(aggregations_betting).reset_index()
# bet_df.columns = ['Player ID','Transaction Date','max_bet_amount','min_bet_amount','ave_bet_amount','total_bet_amount','total_bet_placed']

In [158]:
# bet_df.head()

In [159]:
# # let's look at lifetime spend by transactions for players already grouped
# aggregations_pay = {
#     'max_bet_amount': ['max'],
#     'min_bet_amount': ['min'],
#     'ave_bet_amount': ['median'],
#     'total_bet_placed' : {
#         'ave_bet_order' : 'median',
#         'max_bet_order' : 'max'
#     },
#     'total_bet_amount' :
#      {
#         'max_bet_amount_per_day' : 'max',
#         'ave_bet_amount_per_day' : 'median',
#         'total_lifetime_amount' : 'sum',
#         'total_bet_orders' : 'count'
#     }  
#     } 

# bet_df = bet_df.groupby('Player ID').agg(aggregations_pay).reset_index()
# bet_df.columns = ['Player ID','max_bet_amount','min_bet_amount','ave_bet_amount','ave_bet_order','max_bet_order','max_bet_amount_per_day','ave_bet_amount_per_day','total_lifetime_amount','total_bet_orders']

In [160]:
# bet_df.head()

In [168]:
bet_df = df.groupby('Player ID').agg({
                                        "Stake": {"total_stake": "sum", "mean_stake(total_stake/total bets)": "mean", "min_stake": "min", "max_stake": "max", "bets": "count"},
                                         "Valid Bet": {"total_Valid Bet": "sum", "mean_Valid Bet total_valid bets/total bets)": "mean"},
                                        "Win/Loss": {"total_WIn/Loss": "sum", "mean_Valid Bet total_Win/Loss/total bets)": "mean"}
                                     }).reset_index()
bet_df.columns = ['Player ID','Total Stake','Avg Stake(Total Stake/Total Bets)','Min Stake','Max Stake','Total Bets','Total Valid Bet','Avg Valid Bet','Total Win/Loss', 'Avg Win/Loss']

In [169]:
bet_df.head()

,Player ID,Total Stake,Avg Stake(Total Stake/Total Bets),Min Stake,Max Stake,Total Bets,Total Valid Bet,Avg Valid Bet,Total Win/Loss,Avg Win/Loss
0,02981pleeng,47341.00,7.572137,1.00,10.00,6252,47341.00,7.572137,2268.70,0.362876
1,0641976840,4525.29,1.578406,0.09,4.50,2867,4525.29,1.578406,71.21,0.024838
2,0917292371a,4495.00,195.434783,1.00,800.00,23,4385.00,190.652174,-3704.50,-161.065217
3,1100500298961,2061.41,1.443564,0.09,2.25,1428,2061.41,1.443564,-99.98,-0.070014
4,1123nan,33.00,33.000000,33.00,33.00,1,33.00,33.000000,-33.00,-33.000000

In [ ]:
## game data features

In [176]:
player_games = df.groupby(['Player ID','Game'])['Game'].count()
player_games.head()

Player ID    Game
02981pleeng  Winter Wonders        6252
0641976840   Lucky Twins           1776
             The Twisted Circus    1091
0917292371a  Baccarat                12
             SA Bac.1                 1
Name: Game, dtype: int64

In [178]:
#top 10 games and their play counts
df.Game.value_counts()[:10]

Dragon's Luck                   60971
Lucky Twins                     42197
Disco Night M                   31569
Eagle's Wings                   28557
Funky Monkey                    14527
Fortune House                   13905
Lara Croft Temples and Tombs    13483
The Twisted Circus              12606
Golden Lotus                    10604
Baccarat                         9382
Name: Game, dtype: int64