In [1]:
import pyodbc 
import pandas as pd
import numpy as np
import datetime
from functools import reduce
import matplotlib.pyplot as plt
from scipy import stats

from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import calinski_harabaz_score, silhouette_score
from sklearn.decomposition import PCA

import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-CU20T8L1;"
                      "Database=CAMPAIGN_DB2;"
                      "Trusted_Connection=yes;")


cursor = cnxn.cursor()

In [3]:
# cursor.execute('SELECT TOP(1000)* FROM CAMPAIGN_TBL_FINAL')

# for row in cursor:
#      print('row = %r' % (row,))

In [4]:
sql = pd.read_sql_query('SELECT TOP(100000) * FROM CAMPAIGN_TBL_FINAL',cnxn)

In [5]:
df = pd.DataFrame(sql)

In [6]:
# df.info()

In [7]:
# df.describe()

In [8]:
df.columns

Index(['bet_year', 'bet_month', 'Bet Time', 'Result Time', 'Ticket ID',
       'Game ID', 'Provider', 'Product Type', 'Game Group', 'Game', 'Upline',
       'Player ID', 'Currency', 'Stake', 'Valid Bet', 'Win/Loss', 'Tip',
       'JP Bet', 'JP Win', 'Result Status', 'Real Name', 'Registered Date',
       'Last Login', 't2_status', 'register_year', 'register_month',
       'l_login_year', 'l_login_month', 'GROUP'],
      dtype='object')

In [9]:
df['Bet Time'] = pd.to_datetime(df['Bet Time'])
df['Result Time'] = pd.to_datetime(df['Result Time'])
df['Registered Date'] = pd.to_datetime(df['Registered Date'])
df['Last Login'] = pd.to_datetime(df['Last Login'])

In [10]:
df.head()

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,...,Result Status,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,...,Settled,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...

In [11]:
df['Currency'].unique()

array(['THB'], dtype=object)

In [12]:
# df['date'] = pd.to_datetime(df['date'])

In [13]:
df['Product Type'].unique()
#df['GROUP'].unique()

array(['EGAME', 'SPORTS', 'LIVE', 'MPG'], dtype=object)

In [14]:
df['GROUP'].unique() #both are same

array(['EGAME                                                                                               ',
       'SPORT                                                                                               ',
       'LIVE GAME                                                                                           ',
       'MPG                                                                                                 '],
      dtype=object)

In [15]:
# df['t2_status'].unique()

In [16]:
# df['Result Status'].unique()

In [17]:
df['Provider'].unique()

array(['MG', 'VT', 'SBOBET', 'AMEBA', 'MX', 'RT', 'CQ9', 'SA', 'GGAMING',
       'PT', 'GD'], dtype=object)

In [18]:
df['Game Group'].unique()

array(['SLOTGAME', 'SPORTSBOOK', 'BACCARAT', 'MPG', 'DRAGON_TIGER',
       'SICBO', 'FISHING', 'ROULETTE', 'CARDGAME', 'TABLEGAME'],
      dtype=object)

In [19]:
df['Transaction Date'] = df['Bet Time'].dt.date

In [107]:
df['Transaction Month'] = pd.to_datetime(df['Bet Time']).dt.to_period('M')

In [20]:
df.head()

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,...,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP,Transaction Date
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,...,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,...,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...,2020-03-04

In [21]:
df['days_since_last_login'] = (df['Last Login'].max() - df['Last Login']).astype('timedelta64[D]')
df['Age_on_platform'] = (df['Last Login']- df['Registered Date']).astype('timedelta64[D]')
#time spent playing

In [22]:
df['days_since_last_login'].head()
df['Age_on_platform'].head()

0    187.0
1    187.0
2    187.0
3    187.0
4    442.0
Name: Age_on_platform, dtype: float64

In [23]:
##feature enginerring creating players based data

In [24]:
##date based features

In [25]:
last_betting_date = df.groupby(['Player ID'])['Bet Time'].agg(['max']).reset_index().rename(columns={"max":"Last Betting Date"})

In [26]:
avg_no_of_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Day"}) #sum/count
#number of bets per day by a particular player
avg_no_of_bets_per_month = df.groupby(['Player ID','Transaction Month'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Month"}) #sum/count
#number of bets per month by a particular player

In [111]:
avg_amount_on_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Stake'].sum().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets amount per Day"})

In [113]:
df.groupby(['Player ID','Transaction Date'])['Stake'].sum()

Player ID      Transaction Date
02981pleeng    2020-02-01           22099.00
               2020-02-02            9080.00
0917292371a    2020-02-01             500.00
1a9o7m8        2020-02-01            1761.90
251717ma       2020-02-01          128883.87
2537fon        2020-02-01           31756.46
               2020-02-02            3459.48
abest15900     2020-02-01            1813.00
ads2948        2020-02-01               1.00
alain1313      2020-02-01             790.95
amata081364    2020-02-01              11.25
angsu1608      2020-02-01           13231.00
               2020-02-02           10720.00
anna1990       2020-02-01           50544.00
arm10839       2020-02-01            9780.00
armi2524       2020-02-01           11490.00
bast3bb        2020-02-01             917.40
beaw40         2020-02-01               0.36
bee2531        2020-02-01              10.56
ben8756        2020-02-01            1178.57
               2020-02-02            1316.55
bird999        2020-02-01               6.75
bloodies28     2020-02-01            2390.50
boys169        2020-02-01           29404.50
cat123456      2020-02-01             690.00
               2020-02-02             270.60
champion999    2020-02-01            1093.80
dada2536       2020-02-01               5.00
din2316        2020-02-01            1645.10
dr111          2020-02-01              84.80
                                     ...
soyes891       2020-02-01             107.00
srb230611      2020-02-01             372.00
sunisa365      2020-02-01            8704.50
taedevil       2020-02-01              13.00
tarl0412       2020-02-01          102187.00
taytay999      2020-03-04             200.00
tcbbb          2020-02-01               3.25
teeheng        2020-02-01             752.78
teezaa69       2020-02-01             150.00
telemixup60    2020-02-01             659.70
thanakon505    2020-02-01            1977.20
theluckymanu9  2020-02-01            2081.00
tipprash       2020-02-01            1284.50
tong999        2020-02-01               0.01
tonneverdie88  2020-02-01             100.00
tukta777       2020-02-01             638.45
               2020-02-02            3848.90
tungpang2009   2020-02-01               3.20
varunyu1995    2020-02-01               2.64
vitxxo         2020-02-01            6853.00
               2020-02-02             396.00
what99969      2020-02-01             244.00
whiteufo2499   2020-02-01           29195.94
wrwrr          2020-02-01              73.35
yon4223        2020-02-02             311.00
yoo1234        2020-02-02             700.00
z22222         2020-02-02             316.34
zol652664      2020-02-01             300.00
zppozero777    2020-02-01           11853.00
               2020-02-02            2298.00
Name: Stake, Length: 155, dtype: float64

In [112]:
avg_amount_on_bets_per_day.head()

     Player ID  Avg Bets amount per Day
0  02981pleeng                 15589.50
1  0917292371a                   500.00
2      1a9o7m8                  1761.90
3     251717ma                128883.87
4      2537fon                 17607.97

In [ ]:
avg_no_of_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Day"}) #sum/count
#number of bets per day by a particular player
avg_no_of_bets_per_month = df.groupby(['Player ID','Transaction Month'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Month"}) #sum/count
#number of bets per month by a particular player

In [102]:
#how ma
no_of_visiting_days = df.groupby(['Player ID', 'Transaction Date']).size().groupby('Player ID').count().reset_index().rename(columns={0:'No_of_visit_days'})
no_of_visiting_days.head()

     Player ID  No_of_visit_days
0  02981pleeng                 2
1  0917292371a                 1
2      1a9o7m8                 1
3     251717ma                 1
4      2537fon                 2

In [91]:
# pd.crosstab(df['Player ID'],df['Game']) very imp command

In [109]:
#count_series = # new_df = count_series.to_frame(name = 'size').reset_index()
# new_df.groupby('Player ID').count()

In [28]:
time_df = pd.DataFrame()
temp_df = df[['Player ID','days_since_last_login','Age_on_platform','Bet Time', 'Result Time','Registered Date',
       'Last Login']].groupby('Player ID').agg(['max']).reset_index()

In [29]:
#temp_df

In [30]:
dataframes = [last_betting_date,avg_no_of_bets_per_day,avg_no_of_bets_per_month,no_of_visiting_days,temp_df]

In [31]:
time_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

In [32]:
time_df.head()

,Player ID,Last Betting Date,Avg Bets per Day,"(days_since_last_login, max)","(Age_on_platform, max)","(Bet Time, max)","(Result Time, max)","(Registered Date, max)","(Last Login, max)"
0,02981pleeng,2020-02-02 00:59:50,2114.5,0.0,296.0,2020-02-02 00:59:50,2020-02-02 00:59:50,2019-08-03 21:58:36,2020-05-26 15:04:22
1,0917292371a,2020-02-01 18:35:48,3.0,0.0,282.0,2020-02-01 18:35:48,2020-02-01 18:36:11,2019-08-17 15:41:59,2020-05-26 14:40:26
2,1a9o7m8,2020-02-01 21:24:33,1287.0,2.0,723.0,2020-02-01 21:24:33,2020-02-01 21:24:33,2018-05-31 17:22:55,2020-05-23 20:21:58
3,251717ma,2020-02-01 21:42:22,114.0,0.0,546.0,2020-02-01 21:42:22,2020-02-01 21:42:53,2018-11-26 13:46:23,2020-05-26 03:22:37
4,2537fon,2020-02-02 00:55:28,103.5,0.0,701.0,2020-02-02 00:55:28,2020-02-02 00:57:00,2018-06-24 13:36:16,2020-05-26 01:32:56

In [33]:
# features based on payment ie betting amount

In [34]:
df.columns

Index(['bet_year', 'bet_month', 'Bet Time', 'Result Time', 'Ticket ID',
       'Game ID', 'Provider', 'Product Type', 'Game Group', 'Game', 'Upline',
       'Player ID', 'Currency', 'Stake', 'Valid Bet', 'Win/Loss', 'Tip',
       'JP Bet', 'JP Win', 'Result Status', 'Real Name', 'Registered Date',
       'Last Login', 't2_status', 'register_year', 'register_month',
       'l_login_year', 'l_login_month', 'GROUP', 'Transaction Date',
       'days_since_last_login', 'Age_on_platform'],
      dtype='object')

In [35]:
# #per player there would be different transaction days 
# aggregations_betting = {
#     'Stake': {
#         'max_bet_amount' : 'max',
#         'min_bet_amount' : 'min',
#         'ave_bet_amount' : 'mean',
#         'total_bet_amount' : 'sum',
#         'total_bet_placed' : 'count'
#     }  
#     } 

# bet_df = df.groupby(['Player ID','Transaction Date']).agg(aggregations_betting).reset_index()
# bet_df.columns = ['Player ID','Transaction Date','max_bet_amount','min_bet_amount','ave_bet_amount','total_bet_amount','total_bet_placed']

In [36]:
# bet_df.head()

In [37]:
# # let's look at lifetime spend by transactions for players already grouped
# aggregations_pay = {
#     'max_bet_amount': ['max'],
#     'min_bet_amount': ['min'],
#     'ave_bet_amount': ['median'],
#     'total_bet_placed' : {
#         'ave_bet_order' : 'median',
#         'max_bet_order' : 'max'
#     },
#     'total_bet_amount' :
#      {
#         'max_bet_amount_per_day' : 'max',
#         'ave_bet_amount_per_day' : 'median',
#         'total_lifetime_amount' : 'sum',
#         'total_bet_orders' : 'count'
#     }  
#     } 

# bet_df = bet_df.groupby('Player ID').agg(aggregations_pay).reset_index()
# bet_df.columns = ['Player ID','max_bet_amount','min_bet_amount','ave_bet_amount','ave_bet_order','max_bet_order','max_bet_amount_per_day','ave_bet_amount_per_day','total_lifetime_amount','total_bet_orders']

In [38]:
# bet_df.head()

In [39]:
bet_df = df.groupby('Player ID').agg({
                                        "Stake": {"total_stake": "sum", "mean_stake(total_stake/total bets)": "mean", "min_stake": "min", "max_stake": "max", "bets": "count"},
                                         "Valid Bet": {"total_Valid Bet": "sum", "mean_Valid Bet total_valid bets/total bets)": "mean"},
                                        "Win/Loss": {"total_WIn/Loss": "sum", "mean_Valid Bet total_Win/Loss/total bets)": "mean"}
                                     }).reset_index()
bet_df.columns = ['Player ID','Total Stake','Avg Stake(Total Stake/Total Bets)','Min Stake','Max Stake','Total Bets','Total Valid Bet','Avg Valid Bet','Total Win/Loss', 'Avg Win/Loss']

In [40]:
bet_df.head()

,Player ID,Total Stake,Avg Stake(Total Stake/Total Bets),Min Stake,Max Stake,Total Bets,Total Valid Bet,Avg Valid Bet,Total Win/Loss,Avg Win/Loss
0,02981pleeng,31179.00,7.372665,1.00,10.0,4229,31179.00,7.372665,271.20,0.064129
1,0917292371a,500.00,166.666667,100.00,200.0,3,500.00,166.666667,-300.00,-100.000000
2,1a9o7m8,1761.90,1.368998,0.15,10.0,1287,1761.90,1.368998,-113.15,-0.087918
3,251717ma,128883.87,1130.560263,0.00,5641.9,114,128883.87,1130.560263,-1761.39,-15.450789
4,2537fon,35215.94,170.125314,0.00,2453.8,207,35215.94,170.125314,-3210.81,-15.511159

In [41]:
## game data features

In [42]:
player_games = df.groupby(['Player ID','Game'])['Game'].count()
player_games.head()

Player ID    Game
02981pleeng  Winter Wonders       4229
0917292371a  Baccarat                1
             SA Bac.2                1
             SA Bac.3                1
1a9o7m8      Chinese Treasures     188
Name: Game, dtype: int64

In [43]:
game_group = df.groupby(['Player ID', 'Game Group']).size().reset_index() #['Game Group'].agg('count')

In [44]:
game_group = game_group.rename(columns ={0:'Counts'})

In [45]:
game_group.head()

     Player ID Game Group  Counts
0  02981pleeng   SLOTGAME    4229
1  0917292371a   BACCARAT       3
2      1a9o7m8   SLOTGAME    1287
3     251717ma        MPG     114
4      2537fon        MPG      80

In [46]:
game_group_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]

In [47]:
temp_col1= [x for x in game_group_pref['Game Group'].unique()]

In [48]:
for x in temp_col1:
    game_group_pref[x]= np.where(game_group_pref['Game Group'] == x,1,0)

In [49]:
temp_col1

['SLOTGAME',
 'SPORTSBOOK',
 'BACCARAT',
 'MPG',
 'DRAGON_TIGER',
 'SICBO',
 'FISHING',
 'ROULETTE',
 'CARDGAME',
 'TABLEGAME']

In [50]:
 game_group_df = game_group_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]

In [51]:
game_group_df.columns = [['Player ID']+temp_col1]

In [52]:
game_group_df.head()

,Player ID,SLOTGAME,SPORTSBOOK,BACCARAT,MPG,DRAGON_TIGER,SICBO,FISHING,ROULETTE,CARDGAME,TABLEGAME
0,02981pleeng,4229,0,0,0,0,0,0,0,0,0
1,0917292371a,0,0,3,0,0,0,0,0,0,0
2,1a9o7m8,1287,0,0,0,0,0,0,0,0,0
3,251717ma,0,0,0,114,0,0,0,0,0,0
4,2537fon,127,0,0,80,0,0,0,0,0,0

In [53]:
game_provider_type_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_provider_type_pref['Provider'].unique()]
for x in temp_col1:
    game_provider_type_pref[x]= np.where(game_provider_type_pref['Provider'] == x,1,0)
    
game_provider_type_pref_df = game_provider_type_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_provider_type_pref_df.columns = [['Player ID']+temp_col1]
game_provider_type_pref_df.head()

     Player ID  MG  VT  SBOBET  AMEBA  MX    RT  CQ9  SA  GGAMING  PT  GD
0  02981pleeng   0   0       0      0   0  4229    0   0        0   0   0
1  0917292371a   0   0       0      0   1     0    0   2        0   0   0
2      1a9o7m8   6   0       0      0   0  1281    0   0        0   0   0
3     251717ma   0   0       0      0   0     0  114   0        0   0   0
4      2537fon   0   0       0      0   0     0  207   0        0   0   0

In [54]:
game_product_type_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_product_type_pref['Product Type'].unique()]
for x in temp_col1:
    game_product_type_pref[x]= np.where(game_product_type_pref['Product Type'] == x,1,0)
    
game_product_type_pref_df = game_product_type_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_product_type_pref_df.columns = [['Player ID']+temp_col1]
game_product_type_pref_df.head()

     Player ID  EGAME  SPORTS  LIVE  MPG
0  02981pleeng   4229       0     0    0
1  0917292371a      0       0     3    0
2      1a9o7m8   1287       0     0    0
3     251717ma      0       0     0  114
4      2537fon    127       0     0   80

In [55]:
df.columns

Index(['bet_year', 'bet_month', 'Bet Time', 'Result Time', 'Ticket ID',
       'Game ID', 'Provider', 'Product Type', 'Game Group', 'Game', 'Upline',
       'Player ID', 'Currency', 'Stake', 'Valid Bet', 'Win/Loss', 'Tip',
       'JP Bet', 'JP Win', 'Result Status', 'Real Name', 'Registered Date',
       'Last Login', 't2_status', 'register_year', 'register_month',
       'l_login_year', 'l_login_month', 'GROUP', 'Transaction Date',
       'days_since_last_login', 'Age_on_platform'],
      dtype='object')

In [56]:
##game analysis

In [57]:
#top 10 games being played
df['Game'].value_counts()[:10]

Disco Night M                  7623
Dragon's Luck                  6431
Lucky Twins                    6001
Winter Wonders                 4229
Funky Monkey                   4083
Baccarat                       3666
Eagle's Wings                  3402
Wu Lu Cai Shen                 3370
1c dafudacai-FlowerOfRiches    2885
Long Long Long                 2769
Name: Game, dtype: int64

In [58]:
#top 10 games by amount spend
df[['Game','Stake']].groupby('Game')['Stake'].agg(['sum']).reset_index().sort_values(by ='sum', ascending =False).head(10)

                           Game        sum
138                    Paradise  166737.54
27                     Baccarat  166600.00
55                Dragon's Luck  127592.00
48                Disco Night M   95365.00
68               Fishing World2   70452.50
198              Wu Lu Cai Shen   50544.00
128              Magical Stacks   38950.00
195              Winter Wonders   31179.00
78                 Funky Monkey   27229.50
187  Totem Lighting Power Reels   18860.00

In [153]:
# https://github.com/Echochi/PyConZA2018/blob/master/Segmentation.ipynb