In [33]:
%%time
import pyodbc 
import pandas as pd
import numpy as np
import datetime
from functools import reduce
import matplotlib.pyplot as plt
from scipy import stats

from sklearn import preprocessing
from sklearn.cluster import KMeans

from sklearn.decomposition import PCA

import warnings
import timeit

warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_columns', None)
#!pip install jupyter_contrib_nbextensions

Wall time: 391 ms

In [34]:
%%time
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-CU20T8L1;"
                      "Database=CAMPAIGN_DB2;"
                      "Trusted_Connection=yes;")


cursor = cnxn.cursor()

Wall time: 207 ms

In [35]:
%%time
sql = pd.read_sql_query('SELECT TOP(10000) * FROM CAMPAIGN_TBL_FINAL',cnxn)

Wall time: 1.33 s

In [36]:
%%time
df = pd.DataFrame(sql)

Wall time: 7.94 ms

In [37]:
# df.info()

In [38]:
# df.describe()

In [39]:
%%time
df['Bet Time'] = pd.to_datetime(df['Bet Time'])
df['Result Time'] = pd.to_datetime(df['Result Time'])
df['Registered Date'] = pd.to_datetime(df['Registered Date'])
df['Last Login'] = pd.to_datetime(df['Last Login'])

Wall time: 245 ms

In [40]:
%%time
df.head()

Wall time: 996 µs

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,Upline,Player ID,Currency,Stake,Valid Bet,Win/Loss,Tip,JP Bet,JP Win,Result Status,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-2.80,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,11.20,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-1.68,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,0.28,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,None,kiss1234,THB,7.5,7.5,36.00,0.0,0.0,0.0,Settled,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...

In [41]:
# df['Currency'].unique()

In [42]:
# df['Product Type'].unique()
#df['GROUP'].unique()

In [43]:
# df['GROUP'].unique() #both are same

In [44]:
# df['t2_status'].unique()

In [45]:
# df['Result Status'].unique()

In [46]:
# df['Provider'].unique()

In [47]:
# df['Game Group'].unique()

## feature enginerring creating players based data

In [48]:
%%time
df['Transaction Date'] = df['Bet Time'].dt.date
df['Transaction Month'] = pd.to_datetime(df['Bet Time']).dt.to_period('M')

Wall time: 505 ms

In [49]:
%%time
df.head()

Wall time: 997 µs

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,Upline,Player ID,Currency,Stake,Valid Bet,Win/Loss,Tip,JP Bet,JP Win,Result Status,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP,Transaction Date,Transaction Month
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-2.80,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,11.20,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-1.68,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,0.28,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,None,kiss1234,THB,7.5,7.5,36.00,0.0,0.0,0.0,Settled,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...,2020-03-04,2020-03

In [50]:
%%time
df['days_since_last_login'] = (df['Last Login'].max() - df['Last Login']).astype('timedelta64[D]')
df['Age_on_platform'] = (df['Last Login']- df['Registered Date']).astype('timedelta64[D]')
#time spent playing
# df['days_since_last_login'].head()
df['Age_on_platform'].head()

Wall time: 5.99 ms

0    187.0
1    187.0
2    187.0
3    187.0
4    442.0
Name: Age_on_platform, dtype: float64

#### Date based features

In [51]:
%%time
last_betting_date = df.groupby(['Player ID'])['Bet Time'].agg(['max']).reset_index().rename(columns={"max":"Last Betting Date"})

Wall time: 9.94 ms

In [52]:
%%time
avg_no_of_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Day"}) #sum/count
#number of bets per day by a particular player
avg_no_of_bets_per_month = df.groupby(['Player ID','Transaction Month'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Month"}) #sum/count
#number of bets per day by a particular player

Wall time: 29.9 ms

In [53]:
%%time
avg_amount_on_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Stake'].sum().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets amount per Day"})
avg_amount_on_bets_per_month = df.groupby(['Player ID','Transaction Month'])['Stake'].sum().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets amount per Month"})
avg_amount_on_bets_per_month.head()

Wall time: 21.9 ms

     Player ID  Avg Bets amount per Month
0     251717ma                   35748.23
1      2537fon                    1518.98
2    alain1313                     702.84
3  amata081364                       9.00
4     anna1990                   12585.00

In [54]:
%%time
#how ma
no_of_visiting_days = df.groupby(['Player ID', 'Transaction Date']).size().groupby('Player ID').count().reset_index().rename(columns={0:'No_of_visit_days'})
no_of_visiting_days.head()

Wall time: 11 ms

     Player ID  No_of_visit_days
0     251717ma                 1
1      2537fon                 1
2    alain1313                 1
3  amata081364                 1
4     anna1990                 1

In [55]:
# pd.crosstab(df['Player ID'],df['Game']) very imp command

In [56]:
#count_series = # new_df = count_series.to_frame(name = 'size').reset_index()
# new_df.groupby('Player ID').count()

In [57]:
%%time
time_df = pd.DataFrame()
temp_df = df[['Player ID','days_since_last_login','Age_on_platform','Bet Time', 'Result Time','Registered Date',
       'Last Login']].groupby('Player ID').agg(['max']).reset_index() 
temp_df.columns = ['Player ID','days_since_last_login','Age_on_platform','Bet Time', 'Result Time','Registered Date','Last Login']

Wall time: 53.9 ms

In [58]:
temp_df.head()

,Player ID,days_since_last_login,Age_on_platform,Bet Time,Result Time,Registered Date,Last Login
0,251717ma,0.0,546.0,2020-02-01 05:55:00,2020-02-01 06:01:15,2018-11-26 13:46:23,2020-05-26 03:22:37
1,2537fon,0.0,701.0,2020-02-01 00:31:08,2020-02-01 00:32:27,2018-06-24 13:36:16,2020-05-26 01:32:56
2,alain1313,0.0,825.0,2020-02-01 00:37:44,2020-02-01 00:37:44,2018-02-20 19:05:49,2020-05-26 13:51:15
3,amata081364,19.0,486.0,2020-02-01 05:59:37,2020-02-01 05:59:37,2019-01-06 05:33:22,2020-05-06 21:13:34
4,anna1990,0.0,289.0,2020-02-01 05:59:22,2020-02-01 05:59:22,2019-08-11 03:01:10,2020-05-26 10:36:54

In [59]:
%%time
dataframes = [last_betting_date,avg_no_of_bets_per_day,avg_amount_on_bets_per_day,avg_no_of_bets_per_month,avg_amount_on_bets_per_month,no_of_visiting_days,temp_df]
time_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

Wall time: 31.9 ms

In [60]:
%%time
time_df['loyalty_ratio'] = time_df['No_of_visit_days']/time_df['Age_on_platform']
time_df.head()

Wall time: 1.99 ms

,Player ID,Last Betting Date,Avg Bets per Day,Avg Bets amount per Day,Avg Bets per Month,Avg Bets amount per Month,No_of_visit_days,days_since_last_login,Age_on_platform,Bet Time,Result Time,Registered Date,Last Login,loyalty_ratio
0,251717ma,2020-02-01 05:55:00,18,35748.23,18,35748.23,1,0.0,546.0,2020-02-01 05:55:00,2020-02-01 06:01:15,2018-11-26 13:46:23,2020-05-26 03:22:37,0.001832
1,2537fon,2020-02-01 00:31:08,8,1518.98,8,1518.98,1,0.0,701.0,2020-02-01 00:31:08,2020-02-01 00:32:27,2018-06-24 13:36:16,2020-05-26 01:32:56,0.001427
2,alain1313,2020-02-01 00:37:44,264,702.84,264,702.84,1,0.0,825.0,2020-02-01 00:37:44,2020-02-01 00:37:44,2018-02-20 19:05:49,2020-05-26 13:51:15,0.001212
3,amata081364,2020-02-01 05:59:37,36,9.00,36,9.00,1,19.0,486.0,2020-02-01 05:59:37,2020-02-01 05:59:37,2019-01-06 05:33:22,2020-05-06 21:13:34,0.002058
4,anna1990,2020-02-01 05:59:22,839,12585.00,839,12585.00,1,0.0,289.0,2020-02-01 05:59:22,2020-02-01 05:59:22,2019-08-11 03:01:10,2020-05-26 10:36:54,0.003460

In [61]:
# features based on payment ie betting amount

In [62]:
%%time
bet_df = df.groupby('Player ID').agg({
                                        "Stake": {"total_stake": "sum", "mean_stake(total_stake/total bets)": "mean", "min_stake": "min", "max_stake": "max", "bets": "count"},
                                         "Valid Bet": {"total_Valid Bet": "sum", "mean_Valid Bet total_valid bets/total bets)": "mean"},
                                        "Win/Loss": {"total_WIn/Loss": "sum", "mean_Valid Bet total_Win/Loss/total bets)": "mean"}
                                     }).reset_index()
bet_df.columns = ['Player ID','Total Stake','Avg Stake(Total Stake/Total Bets)','Min Stake','Max Stake','Total Bets','Total Valid Bet','Avg Valid Bet','Total Win/Loss', 'Avg Win/Loss']

SpecificationError: nested renamer is not supported

In [63]:
bet_df.columns

NameError: name 'bet_df' is not defined

#### Game data features

In [64]:
%%time
game_group = df.groupby(['Player ID', 'Game Group']).size().reset_index() #['Game Group'].agg('count')
game_group = game_group.rename(columns ={0:'Counts'})
game_group.head()

Wall time: 10.9 ms

     Player ID Game Group  Counts
0     251717ma        MPG      18
1      2537fon        MPG       8
2    alain1313   SLOTGAME     264
3  amata081364   SLOTGAME      36
4     anna1990   SLOTGAME     839

In [65]:
%%time
game_group_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_group_pref['Game Group'].unique()]
for x in temp_col1:
    game_group_pref[x]= np.where(game_group_pref['Game Group'] == x,1,0)
game_group_df = game_group_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_group_df.columns = [['Player ID']+temp_col1]
game_group_df.head()

Wall time: 124 ms

     Player ID SLOTGAME SPORTSBOOK BACCARAT MPG DRAGON_TIGER SICBO
0     251717ma        0          0        0  18            0     0
1      2537fon        0          0        0   8            0     0
2    alain1313      264          0        0   0            0     0
3  amata081364       36          0        0   0            0     0
4     anna1990      839          0        0   0            0     0

In [66]:
game_group_df.head()

     Player ID SLOTGAME SPORTSBOOK BACCARAT MPG DRAGON_TIGER SICBO
0     251717ma        0          0        0  18            0     0
1      2537fon        0          0        0   8            0     0
2    alain1313      264          0        0   0            0     0
3  amata081364       36          0        0   0            0     0
4     anna1990      839          0        0   0            0     0

In [67]:
%%time
game_provider_type_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_provider_type_pref['Provider'].unique()]
for x in temp_col1:
    game_provider_type_pref[x]= np.where(game_provider_type_pref['Provider'] == x,1,0)
    
game_provider_type_pref_df = game_provider_type_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_provider_type_pref_df.columns = [['Player ID']+temp_col1]
game_provider_type_pref_df.head()

Wall time: 134 ms

     Player ID  MG   VT SBOBET AMEBA MX RT CQ9 SA
0     251717ma   0    0      0     0  0  0  18  0
1      2537fon   0    0      0     0  0  0   8  0
2    alain1313   0  264      0     0  0  0   0  0
3  amata081364  36    0      0     0  0  0   0  0
4     anna1990   0  839      0     0  0  0   0  0

In [68]:
game_provider_type_pref_df.head()

     Player ID  MG   VT SBOBET AMEBA MX RT CQ9 SA
0     251717ma   0    0      0     0  0  0  18  0
1      2537fon   0    0      0     0  0  0   8  0
2    alain1313   0  264      0     0  0  0   0  0
3  amata081364  36    0      0     0  0  0   0  0
4     anna1990   0  839      0     0  0  0   0  0

In [69]:
%%time
game_product_type_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_product_type_pref['Product Type'].unique()]
for x in temp_col1:
    game_product_type_pref[x]= np.where(game_product_type_pref['Product Type'] == x,1,0)
    
game_product_type_pref_df = game_product_type_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_product_type_pref_df.columns = [['Player ID']+temp_col1]
game_product_type_pref_df.head()

Wall time: 110 ms

     Player ID EGAME SPORTS LIVE MPG
0     251717ma     0      0    0  18
1      2537fon     0      0    0   8
2    alain1313   264      0    0   0
3  amata081364    36      0    0   0
4     anna1990   839      0    0   0

In [70]:
game_product_type_pref_df.head()

     Player ID EGAME SPORTS LIVE MPG
0     251717ma     0      0    0  18
1      2537fon     0      0    0   8
2    alain1313   264      0    0   0
3  amata081364    36      0    0   0
4     anna1990   839      0    0   0

In [71]:
# #top 10 games being played
# #very slow querry f
# for player in playerlist:
# df[df['Player ID']==Playerlist]['Game'].value_counts()[:5]

In [72]:
#top 10 games by amount spend
df[['Game','Stake']].groupby('Game')['Stake'].agg(['sum']).reset_index().sort_values(by ='sum', ascending =False).head(10)

                           Game       sum
9                      Baccarat  43410.00
27                     Paradise  38679.69
12                Disco Night M  28440.00
43               Wu Lu Cai Shen  12585.00
20                   Fruit King   6293.70
13                 Dragon Tiger   4420.00
30                    SA Bac.14   4085.00
5   1c dafudacai-FlowerOfRiches   3899.28
37                       SBOBET   3018.00
29                        Pigsy   2214.00

In [73]:
#game_pref = df[['Player ID', 'Game', 'Stake','Bet Time']]
# game_pref['FavroiuteGame1'] = 0
# game_pref['FavroiuteGame2'] = 0
# game_pref['FavroiuteGame3'] = 0
# game_pref['FavroiuteGame4'] = 0
# game_pref['FavroiuteGame5'] = 0

# game_pref['FavroiuteGameAmount1'] =0
# game_pref['FavroiuteGameAmount2'] =0
# game_pref['FavroiuteGameAmount3'] =0
# game_pref['FavroiuteGameAmount4'] =0
# game_pref['FavroiuteGameAmount5'] =0

In [74]:
# game_agg = game_pref.groupby(['Player ID'])['Game'].size()

In [44]:
# type(game_agg)
# game_agg

In [45]:
# for var in game_agg.columns:
#     print(var)

In [46]:
# for player in game_agg['Player ID']:
# game_pref['FavroiuteGame1'] = df['Game'].value_counts().index[0] #first fav
# df['Game'].value_counts().index[1] #second fav
# df['Game'].value_counts().index[2] #third fav

In [47]:
# for player in game_agg['Player ID']:
#     game_pref[game_pref['Player ID']==player]['FavroiuteGame1'] = game_agg[ df['Player ID']==player]['Game'].value_counts().index[0]

In [48]:
# df['Game'].value_counts().index[1]
# df['Game'].value_counts()[1]

In [75]:
%%time
game_aggregations_pref_fav1 = {
    'Game':{'FavFirst':[lambda x: x.value_counts().index[0] if len(x.value_counts()) else None],
           'FavFirstFrequency':[lambda x: x.value_counts()[0] if len(x.value_counts()) else None]
           } 
    } 
        
game_aggregations_pref_fav2 = {
    'Game': {'FavSecond':[lambda x: x.value_counts().index[1] if len(x.value_counts())>1 else None],
            'FavSecondFrequency':[lambda x: x.value_counts()[1] if len(x.value_counts())>1 else None]
            }
    }

game_aggregations_pref_fav3 = {
    'Game': {'FavThird':[lambda x: x.value_counts().index[2] if len(x.value_counts())>2 else None],
            'FavThirdFrequency':[lambda x: x.value_counts()[2] if len(x.value_counts())>2 else None]
            }
    } 

game_aggregations_pref_fav4 = {
    'Game': {'FavFourth':[lambda x: x.value_counts().index[3] if len(x.value_counts())>3 else None],
            'FavFourthFrequency':[lambda x: x.value_counts()[3] if len(x.value_counts())>3 else None]
            },
        } 

game_aggregations_pref_fav5 = {
    'Game': {'FavFifth':[lambda x: x.value_counts().index[4] if len(x.value_counts())>4 else None],
            'FavFifthFrequency':[lambda x: x.value_counts()[4] if len(x.value_counts())>4 else None]
            }
    }

Wall time: 0 ns

In [76]:
%%time
game_pref_1 = df.groupby('Player ID').agg(game_aggregations_pref_fav1).reset_index()
game_pref_1.columns = ['Player ID','FavFirst','FavFirstFrequency']

game_pref_2 = df.groupby('Player ID').agg(game_aggregations_pref_fav2).reset_index()
game_pref_2.columns = ['Player ID','FavSecond','FavSecondFrequency']

game_pref_3 = df.groupby('Player ID').agg(game_aggregations_pref_fav3).reset_index()
game_pref_3.columns = ['Player ID','FavThird','FavThirdFrequency']

game_pref_4 = df.groupby('Player ID').agg(game_aggregations_pref_fav4).reset_index()
game_pref_4.columns = ['Player ID','FavFourth','FavFourthFrequency']

game_pref_5 = df.groupby('Player ID').agg(game_aggregations_pref_fav5).reset_index()
game_pref_5.columns = ['Player ID','FavFifth','FavFifthFrequency']

SpecificationError: nested renamer is not supported

In [51]:
%%time
dataframes = [game_pref_1,game_pref_2,game_pref_3,game_pref_4,game_pref_5]
game_pref_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

Wall time: 24 ms

In [52]:
%%time
game_pref_df['FavFirstAmount'] =0.0
game_pref_df['FavSecondAmount'] =0.0
game_pref_df['FavThirdAmount'] =0.0
game_pref_df['FavFourthAmount'] =0.0
game_pref_df['FavFifthAmount'] =0.0
game_pref_df.head()

Wall time: 3.99 ms

,Player ID,FavFirst,FavFirstFrequency,FavSecond,FavSecondFrequency,FavThird,FavThirdFrequency,FavFourth,FavFourthFrequency,FavFifth,FavFifthFrequency,FavFirstAmount,FavSecondAmount,FavThirdAmount,FavFourthAmount,FavFifthAmount
0,251717ma,Paradise,18,None,NaN,None,NaN,None,NaN,None,NaN,0.0,0.0,0.0,0.0,0.0
1,2537fon,Paradise,8,None,NaN,None,NaN,None,NaN,None,NaN,0.0,0.0,0.0,0.0,0.0
2,alain1313,1c JuFuNaCai-Fountain Of Wealth,156,108 Heroes,98.0,1c dafudacai-DancingDrum,10.0,None,NaN,None,NaN,0.0,0.0,0.0,0.0,0.0
3,amata081364,Eagle's Wings,36,None,NaN,None,NaN,None,NaN,None,NaN,0.0,0.0,0.0,0.0,0.0
4,anna1990,Wu Lu Cai Shen,839,None,NaN,None,NaN,None,NaN,None,NaN,0.0,0.0,0.0,0.0,0.0

In [53]:
%%time
temp_game_df = df.groupby(['Player ID','Game'])['Stake'].sum().reset_index()
temp_game_df.head()

Wall time: 12 ms

   Player ID                             Game     Stake
0   251717ma                         Paradise  35748.23
1    2537fon                         Paradise   1518.98
2  alain1313                       108 Heroes    264.60
3  alain1313  1c JuFuNaCai-Fountain Of Wealth    411.84
4  alain1313         1c dafudacai-DancingDrum     26.40

In [54]:
# temp_game_df[temp_game_df['Player ID']==player]

# temp_game_df[temp_game_df['Player ID']==player]['Game']==game
 
# temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]

#temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Game']

# game_pref_df[game_pref_df['Player ID']==player]['FavFirst']

In [55]:
%%time
for player in game_pref_df["Player ID"]:
    #print(player + "    "+ "---->")
    for game in  temp_game_df[temp_game_df['Player ID']==player]['Game']:
       # print(game)
        if  game_pref_df[game_pref_df['Player ID']==player]['FavFirst'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavFirstAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
           # print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavSecond'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavSecondAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavThird'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavThirdAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavFourth'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavFourthAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavFifth'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavFifthAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')

Wall time: 590 ms

        Player ID SLOTGAME SPORTSBOOK BACCARAT MPG DRAGON_TIGER SICBO
0        251717ma        0          0        0  18            0     0
1         2537fon        0          0        0   8            0     0
2       alain1313      264          0        0   0            0     0
3     amata081364       36          0        0   0            0     0
4        anna1990      839          0        0   0            0     0
5         bee2531        4          0        0   0            0     0
6         din2316        0          0        0   2            0     0
7          ja2637       55          0        0   0            0     0
8           jn111      268          0        0   0            0     0
9        jonni365      487          0        0   0            0     0
10        jui7214      225          0        0   0            0     0
11   junranan4444      188          3        0   0            0     0
12  khwanrudee201       56          0        0   0            0     0
13       kiss1234       40          0        0   0            0     0
14      kornzarpg        0          0      342   0            0     0
15        kot2525        2          0        0   0            0     0
16        kowd123        0          0        2   0            0     0
17      lookmai93     1731          0        0   0            0     0
18       mint2536        0          1       23   0            0     0
19       nana2480      308          0        0   0            0     0
20      niknak123        8          0        5   0            0     0
21   nisanisa2301     1030          0        0   0            0     0
22      paolo1449        0          8        0   0            0     0
23      phaisarun       69          0        0   0            0     0
24        pho1989      353          0        0   0            0     0
25        ponpno1      192          0        0   0            0     0
26     popzaa1991      148          0        0   0           53     0
27        pu4k777      164          0        0   0            0     0
28    rattana2518      129          0        0   0            0     0
29       tarl0412        0          0      579   0            0    16
30      taytay999        0          1        0   0            0     0
31        teeheng        0          0        0  11            0     0
32    telemixup60        0          0        0   6            0     0
33    thanakon505        2          0        0   0            0     0
34       tukta777      109          0        0   0            0     0
35   tungpang2009        4          0        0   0            0     0
36    varunyu1995        1          0        0   0            0     0
37         vitxxo      390          0        0   0            0     0
38   whiteufo2499     1293          0        0   0            0     0
39          wrwrr      260          0        0   0            0     0
40      zol652664        0          0        5   0            0     0
41    zppozero777      262          0        0   0            0     0

In [58]:
%%time
dataframes = [game_product_type_pref_df,game_provider_type_pref_df,game_group_df,game_pref_df]
game_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

TypeError: only integer scalar arrays can be converted to a scalar index

In [54]:
#finally merging all featuresw

In [60]:
%%time
dataframes = [time_df,bet_df,game_df]
final_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

NameError: name 'game_df' is not defined

In [56]:
final_df.head()

,Player ID,Last Betting Date,Avg Bets per Day,Avg Bets amount per Day,Avg Bets per Month,Avg Bets amount per Month,No_of_visit_days,days_since_last_login,Age_on_platform,Bet Time,Result Time,Registered Date,Last Login,loyalty_ratio,Total Stake,Avg Stake(Total Stake/Total Bets),Min Stake,Max Stake,Total Bets,Total Valid Bet,Avg Valid Bet,Total Win/Loss,Avg Win/Loss,EGAME,SPORTS,LIVE,MPG_x,MG,VT,SBOBET,AMEBA,MX,RT,CQ9,SA,SLOTGAME,SPORTSBOOK,BACCARAT,MPG_y,DRAGON_TIGER,SICBO,FavFirst,FavFirstFrequency,FavSecond,FavSecondFrequency,FavThird,FavThirdFrequency,FavFourth,FavFourthFrequency,FavFifth,FavFifthFrequency,FavFirstAmount,FavSecondAmount,FavThirdAmount,FavFourthAmount,FavFifthAmount
0,251717ma,2020-02-01 05:55:00,18,35748.23,18,35748.23,1,0.0,546.0,2020-02-01 05:55:00,2020-02-01 06:01:15,2018-11-26 13:46:23,2020-05-26 03:22:37,0.001832,35748.23,1986.012778,3.01,4105.00,18,35748.23,1986.012778,590.49,32.805000,0,0,0,18,0,0,0,0,0,0,18,0,0,0,0,18,0,0,Paradise,18,None,NaN,None,NaN,None,NaN,None,NaN,35748.23,0.0,0.0,0.0,0.0
1,2537fon,2020-02-01 00:31:08,8,1518.98,8,1518.98,1,0.0,701.0,2020-02-01 00:31:08,2020-02-01 00:32:27,2018-06-24 13:36:16,2020-05-26 01:32:56,0.001427,1518.98,189.872500,3.81,889.44,8,1518.98,189.872500,-252.87,-31.608750,0,0,0,8,0,0,0,0,0,0,8,0,0,0,0,8,0,0,Paradise,8,None,NaN,None,NaN,None,NaN,None,NaN,1518.98,0.0,0.0,0.0,0.0
2,alain1313,2020-02-01 00:37:44,264,702.84,264,702.84,1,0.0,825.0,2020-02-01 00:37:44,2020-02-01 00:37:44,2018-02-20 19:05:49,2020-05-26 13:51:15,0.001212,702.84,2.662273,2.64,2.70,264,702.84,2.662273,-148.29,-0.561705,264,0,0,0,0,264,0,0,0,0,0,0,264,0,0,0,0,0,1c JuFuNaCai-Fountain Of Wealth,156,108 Heroes,98.0,1c dafudacai-DancingDrum,10.0,None,NaN,None,NaN,411.84,264.6,26.4,0.0,0.0
3,amata081364,2020-02-01 05:59:37,36,9.00,36,9.00,1,19.0,486.0,2020-02-01 05:59:37,2020-02-01 05:59:37,2019-01-06 05:33:22,2020-05-06 21:13:34,0.002058,9.00,0.250000,0.25,0.25,36,9.00,0.250000,-0.43,-0.011944,36,0,0,0,36,0,0,0,0,0,0,0,36,0,0,0,0,0,Eagle's Wings,36,None,NaN,None,NaN,None,NaN,None,NaN,9.00,0.0,0.0,0.0,0.0
4,anna1990,2020-02-01 05:59:22,839,12585.00,839,12585.00,1,0.0,289.0,2020-02-01 05:59:22,2020-02-01 05:59:22,2019-08-11 03:01:10,2020-05-26 10:36:54,0.003460,12585.00,15.000000,15.00,15.00,839,12585.00,15.000000,450.00,0.536353,839,0,0,0,0,839,0,0,0,0,0,0,839,0,0,0,0,0,Wu Lu Cai Shen,839,None,NaN,None,NaN,None,NaN,None,NaN,12585.00,0.0,0.0,0.0,0.0

In [57]:
final_df.columns

Index(['Player ID', 'Last Betting Date', 'Avg Bets per Day',
       'Avg Bets amount per Day', 'Avg Bets per Month',
       'Avg Bets amount per Month', 'No_of_visit_days',
       'days_since_last_login', 'Age_on_platform', 'Bet Time', 'Result Time',
       'Registered Date', 'Last Login', 'loyalty_ratio', 'Total Stake',
       'Avg Stake(Total Stake/Total Bets)', 'Min Stake', 'Max Stake',
       'Total Bets', 'Total Valid Bet', 'Avg Valid Bet', 'Total Win/Loss',
       'Avg Win/Loss', 'EGAME', 'SPORTS', 'LIVE', 'MPG_x', 'MG', 'VT',
       'SBOBET', 'AMEBA', 'MX', 'RT', 'CQ9', 'SA', 'SLOTGAME', 'SPORTSBOOK',
       'BACCARAT', 'MPG_y', 'DRAGON_TIGER', 'SICBO', 'FavFirst',
       'FavFirstFrequency', 'FavSecond', 'FavSecondFrequency', 'FavThird',
       'FavThirdFrequency', 'FavFourth', 'FavFourthFrequency', 'FavFifth',
       'FavFifthFrequency', 'FavFirstAmount', 'FavSecondAmount',
       'FavThirdAmount', 'FavFourthAmount', 'FavFifthAmount'],
      dtype='object')