In [1]:
%%time
import pyodbc 
import pandas as pd
import numpy as np
import datetime
from functools import reduce
import matplotlib.pyplot as plt
from scipy import stats

from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import calinski_harabaz_score, silhouette_score
from sklearn.decomposition import PCA

import warnings
import timeit

warnings.filterwarnings('ignore')
%matplotlib inline
pd.set_option('display.max_columns', None)
#!pip install jupyter_contrib_nbextensions

Wall time: 1.62 s

In [2]:
%%time
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=LAPTOP-CU20T8L1;"
                      "Database=CAMPAIGN_DB2;"
                      "Trusted_Connection=yes;")


cursor = cnxn.cursor()

Wall time: 443 ms

In [3]:
%%time
sql = pd.read_sql_query('SELECT TOP(1000000) * FROM CAMPAIGN_TBL_FINAL',cnxn)

Wall time: 35.4 s

In [4]:
%%time
df = pd.DataFrame(sql)

Wall time: 0 ns

In [5]:
# df.info()

In [6]:
# df.describe()

In [7]:
%%time
df['Bet Time'] = pd.to_datetime(df['Bet Time'])
df['Result Time'] = pd.to_datetime(df['Result Time'])
df['Registered Date'] = pd.to_datetime(df['Registered Date'])
df['Last Login'] = pd.to_datetime(df['Last Login'])

Wall time: 5.99 s

In [8]:
%%time
df.head()

Wall time: 1.01 ms

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,Upline,Player ID,Currency,Stake,Valid Bet,Win/Loss,Tip,JP Bet,JP Win,Result Status,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-2.80,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,11.20,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-1.68,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,0.28,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,None,kiss1234,THB,7.5,7.5,36.00,0.0,0.0,0.0,Settled,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...

In [9]:
# df['Currency'].unique()

In [10]:
# df['Product Type'].unique()
#df['GROUP'].unique()

In [11]:
# df['GROUP'].unique() #both are same

In [12]:
# df['t2_status'].unique()

In [13]:
# df['Result Status'].unique()

In [14]:
# df['Provider'].unique()

In [15]:
# df['Game Group'].unique()

## feature enginerring creating players based data

In [16]:
%%time
df['Transaction Date'] = df['Bet Time'].dt.date
df['Transaction Month'] = pd.to_datetime(df['Bet Time']).dt.to_period('M')

Wall time: 6.69 s

In [17]:
%%time
df.head()

Wall time: 1 ms

,bet_year,bet_month,Bet Time,Result Time,Ticket ID,Game ID,Provider,Product Type,Game Group,Game,Upline,Player ID,Currency,Stake,Valid Bet,Win/Loss,Tip,JP Bet,JP Win,Result Status,Real Name,Registered Date,Last Login,t2_status,register_year,register_month,l_login_year,l_login_month,GROUP,Transaction Date,Transaction Month
0,2020,03,2020-03-04 08:52:58,2020-03-04 08:52:58,90498165,90498165,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-2.80,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
1,2020,03,2020-03-04 08:53:01,2020-03-04 08:53:01,90498178,90498178,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,11.20,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
2,2020,03,2020-03-04 08:53:05,2020-03-04 08:53:05,90498196,90498196,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,-1.68,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
3,2020,03,2020-03-04 08:53:08,2020-03-04 08:53:08,90498211,90498211,MG,EGAME,SLOTGAME,Lara Croft Temples and Tombs,None,ja2637,THB,2.8,2.8,0.28,0.0,0.0,0.0,Settled,จิระเมศร์ ถาลี,2019-10-17 16:43:41,2020-04-22 15:33:41,ACTIVE,2019,10,2020,04,EGAME ...,2020-03-04,2020-03
4,2020,03,2020-03-04 08:53:11,2020-03-04 08:53:11,687889250,687889250,VT,EGAME,SLOTGAME,50 Lions,None,kiss1234,THB,7.5,7.5,36.00,0.0,0.0,0.0,Settled,ศุภชัย ณ นคร,2019-03-10 13:04:23,2020-05-26 12:54:26,ACTIVE,2019,03,2020,05,EGAME ...,2020-03-04,2020-03

In [18]:
%%time
df['days_since_last_login'] = (df['Last Login'].max() - df['Last Login']).astype('timedelta64[D]')
df['Age_on_platform'] = (df['Last Login']- df['Registered Date']).astype('timedelta64[D]')
#time spent playing
# df['days_since_last_login'].head()
df['Age_on_platform'].head()

Wall time: 213 ms

#### Date based features

In [19]:
%%time
last_betting_date = df.groupby(['Player ID'])['Bet Time'].agg(['max']).reset_index().rename(columns={"max":"Last Betting Date"})

Wall time: 1.59 s

In [20]:
%%time
avg_no_of_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Day"}) #sum/count
#number of bets per day by a particular player
avg_no_of_bets_per_month = df.groupby(['Player ID','Transaction Month'])['Player ID'].count().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets per Month"}) #sum/count
#number of bets per day by a particular player

Wall time: 24.5 s

In [21]:
%%time
avg_amount_on_bets_per_day = df.groupby(['Player ID','Transaction Date'])['Stake'].sum().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets amount per Day"})
avg_amount_on_bets_per_month = df.groupby(['Player ID','Transaction Month'])['Stake'].sum().groupby('Player ID').agg(['mean']).reset_index().rename(columns={"mean":"Avg Bets amount per Month"})
avg_amount_on_bets_per_month.head()

Wall time: 24.3 s

In [22]:
%%time
#how ma
no_of_visiting_days = df.groupby(['Player ID', 'Transaction Date']).size().groupby('Player ID').count().reset_index().rename(columns={0:'No_of_visit_days'})
no_of_visiting_days.head()

Wall time: 376 ms

In [23]:
# pd.crosstab(df['Player ID'],df['Game']) very imp command

In [24]:
#count_series = # new_df = count_series.to_frame(name = 'size').reset_index()
# new_df.groupby('Player ID').count()

In [25]:
%%time
time_df = pd.DataFrame()
temp_df = df[['Player ID','days_since_last_login','Age_on_platform','Bet Time', 'Result Time','Registered Date',
       'Last Login']].groupby('Player ID').agg(['max']).reset_index() 
temp_df.columns = ['Player ID','days_since_last_login','Age_on_platform','Bet Time', 'Result Time','Registered Date','Last Login']

Wall time: 329 ms

In [26]:
temp_df.head()

,Player ID,days_since_last_login,Age_on_platform,Bet Time,Result Time,Registered Date,Last Login
0,02981pleeng,0.0,296.0,2020-02-11 19:51:59,2020-02-11 19:51:59,2019-08-03 21:58:36,2020-05-26 15:04:22
1,0619393970,59.0,771.0,2020-02-08 00:12:18,2020-02-08 00:12:21,2018-02-15 00:37:25,2020-03-27 17:13:09
2,0641976840,0.0,366.0,2020-02-05 00:28:11,2020-02-05 00:28:11,2019-05-25 02:40:29,2020-05-25 22:49:52
3,0806409528pop,109.0,0.0,2020-02-07 03:36:15,2020-02-07 03:36:15,2020-02-07 02:39:56,2020-02-07 03:34:47
4,0824308073wan,106.0,69.0,2020-02-10 13:43:23,2020-02-10 13:43:23,2019-12-02 19:56:52,2020-02-10 13:26:38

In [27]:
%%time
dataframes = [last_betting_date,avg_no_of_bets_per_day,avg_amount_on_bets_per_day,avg_no_of_bets_per_month,avg_amount_on_bets_per_month,no_of_visiting_days,temp_df]
time_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

Wall time: 26 ms

In [28]:
%%time
time_df['loyalty_ratio'] = time_df['No_of_visit_days']/time_df['Age_on_platform']
time_df.head()

Wall time: 2.03 ms

In [29]:
# features based on payment ie betting amount

In [30]:
%%time
bet_df = df.groupby('Player ID').agg({
                                        "Stake": {"total_stake": "sum", "mean_stake(total_stake/total bets)": "mean", "min_stake": "min", "max_stake": "max", "bets": "count"},
                                         "Valid Bet": {"total_Valid Bet": "sum", "mean_Valid Bet total_valid bets/total bets)": "mean"},
                                        "Win/Loss": {"total_WIn/Loss": "sum", "mean_Valid Bet total_Win/Loss/total bets)": "mean"}
                                     }).reset_index()
bet_df.columns = ['Player ID','Total Stake','Avg Stake(Total Stake/Total Bets)','Min Stake','Max Stake','Total Bets','Total Valid Bet','Avg Valid Bet','Total Win/Loss', 'Avg Win/Loss']

Wall time: 254 ms

In [31]:
bet_df.columns

Index(['Player ID', 'Total Stake', 'Avg Stake(Total Stake/Total Bets)',
       'Min Stake', 'Max Stake', 'Total Bets', 'Total Valid Bet',
       'Avg Valid Bet', 'Total Win/Loss', 'Avg Win/Loss'],
      dtype='object')

#### Game data features

In [ ]:
%%time
game_group = df.groupby(['Player ID', 'Game Group']).size().reset_index() #['Game Group'].agg('count')
game_group = game_group.rename(columns ={0:'Counts'})
game_group.head()

Wall time: 317 ms

In [ ]:
%%time
game_group_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_group_pref['Game Group'].unique()]
for x in temp_col1:
    game_group_pref[x]= np.where(game_group_pref['Game Group'] == x,1,0)
game_group_df = game_group_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_group_df.columns = [['Player ID']+temp_col1]
game_group_df.head()

In [ ]:
%%time
game_provider_type_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_provider_type_pref['Provider'].unique()]
for x in temp_col1:
    game_provider_type_pref[x]= np.where(game_provider_type_pref['Provider'] == x,1,0)
    
game_provider_type_pref_df = game_provider_type_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_provider_type_pref_df.columns = [['Player ID']+temp_col1]
game_provider_type_pref_df.head()

In [ ]:
%%time
game_product_type_pref = df[['Player ID', 'Game', 'Game Group','Provider','Product Type']]
temp_col1= [x for x in game_product_type_pref['Product Type'].unique()]
for x in temp_col1:
    game_product_type_pref[x]= np.where(game_product_type_pref['Product Type'] == x,1,0)
    
game_product_type_pref_df = game_product_type_pref.groupby('Player ID').agg(['sum']).reset_index()[['Player ID']+temp_col1]
game_product_type_pref_df.columns = [['Player ID']+temp_col1]
game_product_type_pref_df.head()

In [ ]:
# #top 10 games being played
# #very slow querry f
# for player in playerlist:
# df[df['Player ID']==Playerlist]['Game'].value_counts()[:5]

In [ ]:
#top 10 games by amount spend
df[['Game','Stake']].groupby('Game')['Stake'].agg(['sum']).reset_index().sort_values(by ='sum', ascending =False).head(10)

In [ ]:
#game_pref = df[['Player ID', 'Game', 'Stake','Bet Time']]
# game_pref['FavroiuteGame1'] = 0
# game_pref['FavroiuteGame2'] = 0
# game_pref['FavroiuteGame3'] = 0
# game_pref['FavroiuteGame4'] = 0
# game_pref['FavroiuteGame5'] = 0

# game_pref['FavroiuteGameAmount1'] =0
# game_pref['FavroiuteGameAmount2'] =0
# game_pref['FavroiuteGameAmount3'] =0
# game_pref['FavroiuteGameAmount4'] =0
# game_pref['FavroiuteGameAmount5'] =0

In [ ]:
# game_agg = game_pref.groupby(['Player ID'])['Game'].size()

In [ ]:
# type(game_agg)
# game_agg

In [ ]:
# for var in game_agg.columns:
#     print(var)

In [ ]:
# for player in game_agg['Player ID']:
# game_pref['FavroiuteGame1'] = df['Game'].value_counts().index[0] #first fav
# df['Game'].value_counts().index[1] #second fav
# df['Game'].value_counts().index[2] #third fav

In [ ]:
# for player in game_agg['Player ID']:
#     game_pref[game_pref['Player ID']==player]['FavroiuteGame1'] = game_agg[ df['Player ID']==player]['Game'].value_counts().index[0]

In [ ]:
# df['Game'].value_counts().index[1]
# df['Game'].value_counts()[1]

In [ ]:
%%time
game_aggregations_pref_fav1 = {
    'Game':{'FavFirst':[lambda x: x.value_counts().index[0] if len(x.value_counts()) else None],
           'FavFirstFrequency':[lambda x: x.value_counts()[0] if len(x.value_counts()) else None]
           } 
    } 
        
game_aggregations_pref_fav2 = {
    'Game': {'FavSecond':[lambda x: x.value_counts().index[1] if len(x.value_counts())>1 else None],
            'FavSecondFrequency':[lambda x: x.value_counts()[1] if len(x.value_counts())>1 else None]
            }
    }

game_aggregations_pref_fav3 = {
    'Game': {'FavThird':[lambda x: x.value_counts().index[2] if len(x.value_counts())>2 else None],
            'FavThirdFrequency':[lambda x: x.value_counts()[2] if len(x.value_counts())>2 else None]
            }
    } 

game_aggregations_pref_fav4 = {
    'Game': {'FavFourth':[lambda x: x.value_counts().index[3] if len(x.value_counts())>3 else None],
            'FavFourthFrequency':[lambda x: x.value_counts()[3] if len(x.value_counts())>3 else None]
            },
        } 

game_aggregations_pref_fav5 = {
    'Game': {'FavFifth':[lambda x: x.value_counts().index[4] if len(x.value_counts())>4 else None],
            'FavFifthFrequency':[lambda x: x.value_counts()[4] if len(x.value_counts())>4 else None]
            }
    }

In [ ]:
%%time
game_pref_1 = df.groupby('Player ID').agg(game_aggregations_pref_fav1).reset_index()
game_pref_1.columns = ['Player ID','FavFirst','FavFirstFrequency']

game_pref_2 = df.groupby('Player ID').agg(game_aggregations_pref_fav2).reset_index()
game_pref_2.columns = ['Player ID','FavSecond','FavSecondFrequency']

game_pref_3 = df.groupby('Player ID').agg(game_aggregations_pref_fav3).reset_index()
game_pref_3.columns = ['Player ID','FavThird','FavThirdFrequency']

game_pref_4 = df.groupby('Player ID').agg(game_aggregations_pref_fav4).reset_index()
game_pref_4.columns = ['Player ID','FavFourth','FavFourthFrequency']

game_pref_5 = df.groupby('Player ID').agg(game_aggregations_pref_fav5).reset_index()
game_pref_5.columns = ['Player ID','FavFifth','FavFifthFrequency']

In [ ]:
%%time
dataframes = [game_pref_1,game_pref_2,game_pref_3,game_pref_4,game_pref_5]
game_pref_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

In [ ]:
%%time
game_pref_df['FavFirstAmount'] =0.0
game_pref_df['FavSecondAmount'] =0.0
game_pref_df['FavThirdAmount'] =0.0
game_pref_df['FavFourthAmount'] =0.0
game_pref_df['FavFifthAmount'] =0.0
game_pref_df.head()

In [ ]:
%%time
temp_game_df = df.groupby(['Player ID','Game'])['Stake'].sum().reset_index()
temp_game_df.head()

In [ ]:
# temp_game_df[temp_game_df['Player ID']==player]

# temp_game_df[temp_game_df['Player ID']==player]['Game']==game
 
# temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]

#temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Game']

# game_pref_df[game_pref_df['Player ID']==player]['FavFirst']

In [ ]:
%%time
for player in game_pref_df["Player ID"]:
    #print(player + "    "+ "---->")
    for game in  temp_game_df[temp_game_df['Player ID']==player]['Game']:
       # print(game)
        if  game_pref_df[game_pref_df['Player ID']==player]['FavFirst'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavFirstAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
           # print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavSecond'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavSecondAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavThird'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavThirdAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavFourth'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavFourthAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')
            
        if  game_pref_df[game_pref_df['Player ID']==player]['FavFifth'].values == game:
             
            game_pref_df.at[game_pref_df['Player ID']==player, 'FavFifthAmount'] = temp_game_df[temp_game_df['Player ID']==player][temp_game_df[temp_game_df['Player ID']==player]['Game']==game]['Stake'].values
            #print('pusheddata')

In [ ]:
%%time
dataframes = [game_product_type_pref_df,game_provider_type_pref_df,game_group_df,game_pref_df]
game_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)

In [ ]:
#finally merging all featuresw

In [ ]:
%%time
dataframes = [time_df,bet_df,game_df]
final_df = reduce(lambda left, right: pd.merge(left, right, on='Player ID', how='left'), dataframes)